/* どのような画面の幅でも適用されるものにはグローバルに。*/

:root {
    --maincolor: #E3BB60;
    /* LS →　letter spaceing */
    --normalLS: 1.5px;
    /* LH →　LineHeight */
    --normalLH: 1.6;

    --normalTitle: 18px;

    --quasiTitle: 15px;

    --datailText: 12px;

    --smallText: 10px;
}

/* small screen */

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    width: 100%;
    overflow-x: hidden;
    letter-spacing: var(--normalLS);
    line-height: var(--normalLH);
}

.sectionTitle {
    font-size: 18px;
    /* letter-spacing: var(--normalLS); */
    line-height: 1.3rem;
}

section > div{
    margin: 0 auto;
    box-sizing: border-box;
}

/* 開業するためにspanのdisplayをblcok */

.newLine {
    display: block;
}

.font_mainColor {
    color: var(--maincolor);
}

section {
    text-align: center;
}

header {
    background-color: white;
    display: flex;
    width: 100%;
    /* height: 62px; */
    padding: 10px 0px 5px 10px;
    position: relative;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
}

.header_logo {
    width: 100px;
}

.header_concept {
    font-size: 0.7em;
}

.request {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #CC7168;
    width: 80px;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.request_icon {
    margin-left: auto;
    margin-right: auto;
    width: 20.5px;
    margin-top: 3px;
}

.request_text {
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

.isaraVisual {
    width: 100%;
    background-image: url('../img/hawaii.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0px 40px 0px;
}

.isaraVisual_catchcopy {
    font-size: 1.2em;
    letter-spacing: 0.08em;
    margin-bottom: 20px;
}

.isaraVisual_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.isaraVisual_logo {
    width: 70%;
}

.isaraVisual_background {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    filter: blur(15px);
    width: 280px;
    height: 240px;
    position: absolute;
    top: -40px;
}

.isaraVisuak_subtitle {
    font-size: 0.9em;
    margin-top: 20px;
    letter-spacing: 0.05em;
}

.isaraVisual_catchcopy, .isaraVisual_logo, .isaraVisuak_subtitle {
    z-index: 2;
}

.topSection_inquiry {
    font-size: 15px;
    padding: 10px 0px;
    background-color: var(--maincolor);
    color: white;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

.topSection_inquiry>* {
    margin: 20px 0px;
}

.topSection_inquiry_noteworthy {
    background-color: white;
    border: solid 0.2px black;
    border-radius: 4px;
    font-size: 13.5px;
    color: #c7254e;
    letter-spacing: 0;
    padding: 1px;
    font-weight: bold;
    width: 95%;
    margin: 0 auto;
}

.topSection_inquiry_button {
    background-color: #CC7168;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    padding: 25px 30px;
    width: 13em;
    margin-left: auto;
    margin-right: auto;
}

.topSection_inquiry_sns {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.topSection_inquiry_sns>div {
    padding: 0.1em;
    font-size: 11px;
    border-radius: 4px;
    margin: 0px 3px;
}

.topSection_inquiry_sns>div::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    vertical-align: middle;
}

.topSection_inquiry_sns_tweet {
    background-color: #4692DA;
}

.topSection_inquiry_sns_like {
    background-color: #4B66AD;
}

.topSection_inquiry_sns_share {
    background-color: #4B66AD;
}

.topSection_inquiry_sns_tweet::before {
    background-image: url('../img/Twitter_Logo_WhiteOnImage.png');
}

.topSection_inquiry_sns_like::before {
    background-image: url('../img/Thumb-Icon-RGB-1024.png');
}

div .topSection_inquiry_sns_share::before {
    content: none;
}

/* introduction */

.bracketArea {
    position: relative;
    --bracketPadding: 10px;
    padding: var(--bracketPadding);
}

.introduction_bracketArea {
    margin-top: 28px;
}

div .bracketArea_leftBracket, div .bracketArea_rightBracket {
    width: 30px;
    height: 30px;
    border-color: var(--maincolor);
    border-width: 5px;
}

.bracketArea_leftBracket {
    border-top: solid;
    border-left: solid;
    position: absolute;
    top: var(--bracketPadding);
    left: var(--bracketPadding);
    margin-bottom: -23px;
}

.bracketArea_rightBracket {
    border-bottom: solid;
    border-right: solid;
    position: absolute;
    bottom: var(--bracketPadding);
    right: var(--bracketPadding);
}

.bracketArea_p {
    padding: var(--bracketPadding);
    margin: 1.4rem 0px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.introduction_pContainer {
    font-weight: 0.8rem;
    letter-spacing: 0.02rem;
    line-height: 1.8rem;
    margin: 30px 0px;
    font-weight: lighter;
}

.introduction_pContainer_important {
    border-bottom: solid 6px var(--maincolor);
    display: inline-block;
    height: 0.9rem;
    font-weight: bold;
}

.introduction_footer {
    background-image: url('../img/road.jpg');
    width: 100%;
    height: 80px;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* about */

.about {
    position: relative;
}

.about_circle {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--maincolor);
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    top: -32.5px;
}

.about_circle>span {
    font-family: 'YuGothic';
    font-weight: lighter;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.1rem;
    line-height: 60px;
}

.about_content {
    padding: 40px 0px;
    background-color: #FCF5E2;
}

.about_bracket_p {
    line-height: 1.2rem;
}

.about_content_description {
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    font-size: 15px;
}

.bracketArea_leftBracket {
    position: unset;
}

.about_content_skils {
    background-color: white;
    padding: 8px 15px 8px;
    border: solid 2px var(--maincolor);
    width: 75%;
    border-radius: 5px;
    margin: 40px auto;
}

.about_content_skils_title {
    letter-spacing: var(--normalLS);
    line-height: 1.5rem;
    font-size: 15px;
}

.about_content_skils_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
}

.about_content_skils_container_skil {
    padding: 15px 8px;
}

.about_content_skils_container_skil>img {
    height: 30px;
}

.about_content_skils_container_skil_description {
    font-size: 10px;
    letter-spacing: var(--normalLS);
    line-height: 0.9rem;
    font-weight: lighter;
}

/* steps */

.steps {
    background-image: url('../img/background/aboutsecondbgsp.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 40px 0px;
}

.steps_content {
    padding: 0 30px;
    margin: 0 auto;
}

.steps_content_stepsTitleContainer {
    margin: 20px 0px;
}

.steps_content_stepsTitleDescription>p {
    line-height: var(--normalLH);
    font-size: 13px;
}

.steps_content_cards {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0 auto;
    margin-top: 38px;
}

.steps_content_cards>div {
    width: 85%;
    background-color: white;
    border-radius: 4px;
    padding: 15px 50px;
    font-size: 12px;
    margin-bottom: 15px;
}

.steps_content_cards_step {
    width: 88%;
    line-height: 1.2rem;
    background-color: var(--maincolor);
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 5px;
    color: white;
}

.steps_content_cards_step~p {
    font-weight: bold;
    margin: 15px 0px 5px 0px;
}

.steps_content_cards_title {
    margin: 15px 0px 5px 0px;
}

.steps_content_cards_description {
    letter-spacing: 1.5px;
}

/* anotherSkill */

.anotherSkill {
    background-color: rgb(32, 109, 180);
    font-size: 12px;
    color: white;
    letter-spacing: 1.5px;
    line-height: 1.6;
    padding: 20px 0px;
}

.anotherSkill_important {
    color: var(--maincolor);
}

/* learn */

.learn_isaraSmall {
    font-size: 12px;
}

.learn>.sectionTitle {
    margin: 20px 0px 35px 0px;
}

.learn>p:not(.sectionTitle) {
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.learn>.newLine {
    margin-bottom: 10px;
}

.learn_abilities {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.learn_abilities>img {
    width: 20%;
    margin: 5px;
}

.learn>p:last-child {
    font-size: 12px;
    font-weight: bold;
    margin: 13px 0px 20px 0px;
}

/* merits */

.merits {
    background-color: #FCF5E2;
}


.merits>.bracketArea>p {
    font-size: 15px;
}

.merits_3merits {
    font-size: 16px;
}

.merits>.bracketArea>.bracketArea_p {
    font-weight: normal;
    margin: 0;
}

.merits>.bracketArea>div:nth-child(2)::after {
    content: 'iSara[イサラ]の３つのメリット！';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    position: relative;
    top: 10px;
}

.merits_container {
    box-sizing: border-box;
    width: 95%;
    padding: 10px 10px;
    line-height: var(--normalLH);
    letter-spacing: var(--normalLS);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merits_container_img {
    font-size: 12px;
    width: 90%;
    height: 120px;
    font-weight: lighter;
}

.merits div:nth-child(2) div:first-child {
    background-image: url('../img/merits/first.jpg');
}

.merits div:nth-child(3) div:first-child {
    background-image: url('../img/merits/second.jpg');
}

.merits div:nth-child(4) div:first-child {
    background-image: url('../img/merits/third.jpg');
}

.merits_container_title {
    color: var(--maincolor);
    font-size: var(--quasiTitle);
    margin: 10px 0px;
}

.merits_container_detail {
    font-size: 12px;
    width: 91%;
    font-weight: lighter;
    text-align: left;
}

.merits_support{
    /* width: 90%; */
    padding: 10px;
    border: 2px solid var(--maincolor);
    background-color: white;
    border-radius: 5px;
    margin: 15px 20px 15px 20px;

}   

.mertis_support_title{
    font-size: var(--normalTitle);
    color: var(--maincolor);
    
    
}

.mertis_support_datail > .newLine, .mertis_support_datail{
    
    font-size: 14px;
    
}

.mertis_support_datail{
    padding: 10px 0px 10px 0px;
}

.mertis_support_moreDatail{
    font-size: var(--smallText);
    letter-spacing: -0.7px;
    padding-bottom: 10px;
    font-weight: 200;
}

.merits_refuse, .merits_refuse span{
    font-size: var(--datailText);
    font-weight: 200;
    letter-spacing: -0.8px;

}
.merits_refuse > p{
    padding: 0px  10px 10px 10px;
}

/* members */
.members{
    padding: 60px 20px 20px 20px; 
    background-image: url('../img/background/teacherbgsp.jpg');
    background-size: coverl;
    background-position: center;
}

.members_title{
    color: white;
    font-size: var(--normalTitle);
    margin: 20px 0px 10px 0px;

}

.members_title::before{
    content: url('../img/');
}

.members_subsc, .members_subsc p{
    font-size: var(--datailText);
    color: white;
    margin: 33px 0px;
}

.members_profil{
    border: solid white 3px;
    padding: 20px 10px;
    position: relative;
    color: white;
    
}

.members_member_profilImg{
    width: 120px;
    position: relative;
    bottom: 118px;
    margin-bottom: -118px;
    border-radius: 50%;
}

.members_profil_selfIntroduce.members_profil_selfIntroduce.members_profil_selfIntroduce.members_profil_selfIntroduce.members_profil_selfIntroduce.members_profil_selfIntroduce.members_profil_selfIntroduce.members_profil_selfIntroduce, .members_profil_position, .members_profil_name{
    font-size: var(--datailText);
}

.members_profil_selfIntroduce{
    text-align: left;
}

.members_profil{
    margin-top: 120px;
}

.members_profil_position, .members_profil_name{
    margin-bottom: 10px;
}

/* Q and A */
.qa{

}

.qa_qContainer{
    background-color: var(--maincolor);
    width: 100%;
    padding: 20px 0px;
    color: white;
    font-weight: lighter;
    margin-bottom: 25px;
}

.qa_qContainer_bracketContainer > p{
    font-size: 14px;
    /* 他にも14pxのものがあったら変数化します。 */
    font-weight: normal;
    margin: 0;
}

.qa_qContainer_icon{
    margin: 0 auto;
    font-size: var(--datailText);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: white;
    color: var(--maincolor);
    border-radius: 50%;
    line-height: 60px;
    letter-spacing: 2px;
}

.qa_qContainer_bracketContainer > div{
    border-color: white;
}

.qa_triangle{
    width: 0px;
    height: 0px;
    margin: 0 auto;
    border-top: 15px solid var(--maincolor);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: relative;
    top: 15px;
    margin-bottom: -34px;
}

.qa_real_preface > p:nth-of-type(1){
    font-size: var(--normalTitle);
    font-weight: bold;
    margin-bottom: 10px;
}

.qa_real_preface > p:nth-of-type(2), .qa_real_preface > p:nth-of-type(3){
    font-size: var(--datailText);
}
.qa_real_interviewContainer{
    margin: 20px 10px;
}
.qa_real_interviewContainer_interview{
    display: flex;
    width: 100%;

}

.qa_real_interviewContainer_interview_face{
    flex-shrink: 2;
    width: auto;

}

.qa_real_interviewContainer_interview_face_img{
    width: 100%;
    border: solid var(--maincolor) 3px;
    box-sizing: border-box;
}

.qa_real_interviewContainer_interview_answerContainer{
   padding-left: 6px;
   flex-shrink: 1;
   max-width: 68%;
}

.qa_real_interviewContainer_interview_answerContainer_answer, .qa_real_interviewContainer_interview_answerContainer_position{
     /* font-styleでイタリック体にできる  */
    font-style: italic;
    font-size: 14px;
    color: #777;
    font-weight: lighter;
    text-align: left;
}

.qa_real_interviewContainer_interview_answerContainer_answer{
    letter-spacing: -0.5px;
}


.qa_real_interviewContainer_interview_answerContainer_position{
    /* text-decorationを使って河川を引く */
    text-decoration: underline;
    font-size: 11px;
    letter-spacing: 1.5px;
    margin-top: 8px;
}

/* curriculum */
.curriculum{
    background-image: url('../img/background/basic_skil.jpg');
    padding: 40px 0px;

}
.curriculum > div{

}

.curriculum_title, .curriculum_description{
    color: white;
    margin-bottom: 15px;
}

.curriculum_title{
    font-size: var(--normalTitle);
    
}

.curriculum_description{
    font-size: var(--datailText);
}

.curriculum_lists{
    width: 90%;
    margin-bottom: 25px;
}

.curriculum_lists_title{
    width: 100%;
    background-color: #2F6CA4;
    text-align: center;
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    box-sizing: border-box;
    font-size: var(--quasiTitle);
    
}

.curriculum_description{
    margin-bottom: 20px;    
}

.curriculum_lists > ul{
   
    box-sizing: border-box;

}

.curriculum_lists > ul > li{
    width: 100%;
    background-color: white;
    padding: 15px 10px;
    font-size: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.curriculum_lists > ul > li:last-child{
    border-radius: 0px 0px 5px 5px;

}
/* riskZero */
.riskZero{
    background-color: #2F6CA4;
    padding: 20px 0px;
}
/* medium screen */